@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap");
:root {
  --body_gradient_left: #0095d0;
  --body_gradient_right: #00c885;
}

/*estilos generales*/
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #a0a0a0;
}
input[type="email"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #a0a0a0;
}
input[type="email"]::-ms-input-placeholder,
input[type="number"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
input[type="search"]::-ms-input-placeholder,
input[type="text"]::-ms-input-placeholder,
input[type="url"]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #a0a0a0;
}
input[type="email"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
input[type="text"]::placeholder,
input[type="url"]::placeholder,
textarea::placeholder {
  color: #a0a0a0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*body styles mobile first*/
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(360px, 1fr);
      grid-template-columns: minmax(360px, 1fr);
}

.body {
  background-color: #6ff7f0;
}

/*responsive para pantalla grande*/
@media screen and (min-width: 767px) {
  body, .body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 100px 1fr;
        grid-template-rows: 100px 1fr;
    -ms-grid-columns: .25fr 1fr;
        grid-template-columns: .25fr 1fr;
        grid-template-areas: 'a a' '. b';
  }
}

/*header styles*/
header .iso {
  width: 48px;
}

@media screen and (min-width: 767px) {
  header {
    grid-area: a;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    background-color: #893ef1;
  }
  .logo {
    margin-left: 1em;
  }
}

#mainNav {
  background-color: #893ef1;
  font-size: 1.2em;
  font-weight: 100;
  font-family: "Lato", sans-serif;
  letter-spacing: .1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mainNav .navbar-toggler {
  font-size: 2em;
  padding: 0.75rem;
  color: white;
  border: none;
  outline: none;
}

.logo {
  color: #fff;
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
}

.logo:hover, .logo:focus {
  text-decoration: none;
  color: white;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .logo {
    margin-left: 1em;
  }
}

#mainNav .nav-link {
  margin: 0;
  padding: .5em;
  color: white;
  text-align: center;
}

@media (min-width: 992px) {
  #mainNav .nav-link {
    margin: 2rem 1.5rem;
    padding: 0;
  }
}

#mainNav .nav-link:hover {
  font-weight: 400;
}

/*main section*/
main {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 800px) {
  main {
    grid-area: b;
    padding: 10vmax;
  }
}

.form {
  background-color: #fff;
  border: 1px solid #eceff1;
  -webkit-box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
          box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
  border-radius: 20px;
}

.form-inline .form-control {
  vertical-align: middle;
  display: inline-block;
}

#busqueda {
  border: none;
  background-color: none;
  border-radius: 20px;
}

/*form styles start here*/
main form {
  font-family: "Lato", sans-serif;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #eceff1;
  padding: 1em;
  margin: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-size: 1em;
  -webkit-box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
          box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
}

main form h1 {
  font-size: 1.5em;
  padding: 1rem;
  margin: 0;
}

main form ul {
  list-style: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 1em;
}

main form ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 1em;
}

main form ul li label {
  margin-bottom: 1em;
}

main form ul li textarea {
  overflow: auto;
}

main form ul li .input, main form ul li textarea {
  border-radius: 5px;
  border: 1px solid #cac9c9;
}

main form ul li .input:focus, main form ul li textarea:focus {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #893ef1;
}

main form button {
  font-family: "Lato", sans-serif;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: .0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #893ef1;
  min-width: 64px;
  height: 36px;
  margin-top: 2em;
  padding: 0 15px;
  background-color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main form button:hover,
main form button:focus {
  outline: none;
  background: #893ef1;
  color: #FFF;
}
//cards
  .grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    grid-auto-rows: minmax(80px, auto);
    grid-gap: 1rem;
  // max-width: none;
    margin: 0;
  // padding: 2rem 10rem 2rem 10rem;
    background-color:  	#53c8fa;
    grid-auto-flow: dense;
  }
.grid-item{
/border: 1px solid black;/
padding: 1em;
  display:flex;
  flex-flow: column;
  margin:0;
  background-color: #ffffff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
article h1{
  font-size: 1.6em;
  margin: 1rem 1rem 0;
}
article p{
  font-size: 1.2em;
  margin: 0.25em 1rem 1rem;
  font-weight: 300;
}
article img{
  order: -1;
  align-self: center;
  width: 90%;
}
.cover{
  object-fit: scale-down;
}

.pedido{
  grid-row-end: span 1;
}
/*# sourceMappingURL=semantic.css.map */