<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>
    <!-- semantic -->
    <!-- <link rel="stylesheet" type="text/css" href="../prueba_semantic_ui/Semantic-UI-CSS-master/semantic.css"> -->
    <!-- material -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script> -->
   
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- font awesome icons -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- mis horrendos estilos -->
    <link rel="stylesheet" href="css/semantic.css">
    
   </head>
<body class="body">
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a href=""><img class="iso" src="vendor/Sin título-1.svg" alt=""></a>
                <a class="logo" href="#page-top">Ayudar</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse navbar-collapse-right" id="navbarResponsive">
                    <form class="form form-inline my-2 my-lg-0" action="" method="get">
                        <input class="form-control mr-sm-2" type="search" name="buscar" placeholder="Qué estás buscando?" id="busqueda">
                        <i class="fas fa-search"></i>
                      </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" id="item" href="registro.html">Registrarse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" id="item" href="login.html">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" id="item" href="">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
      <div class="grid-container">
        <article class="grid-item pedido" style="background-color: #ff89ff;">
          <h1>Pintura blanca para azulejos</h1>
          <p>La cantidad que sea.</p>
        </article>
        <article class="grid-item">
          <h1>Profesor de matemática a domicilio</h1>
          <p>Disponible Jueves y Sábados de 15 a 17 hs.</p>
          <img class="cover" src="img/02.Matematica.jpg" alt="">
        </article>
        <article class="grid-item">
          <h1>Reproductor de música</h1>
          <p>Para CD y casettes</p>
          <img class="cover" src="assets/img/equipoDeMusica.jpg" alt="">
        </article>
        <article class="grid-item pedido" style="background-color: #34f5c5;">
          <h1>Zapatos escolares negros</h1>
          <p>En lo posible ara niña talle 33.</p>
        </article>
        <article class="grid-item pedido" style="background-color: #34f5c5;">
          <h1>Alimentos no perecederos</h1>
          <p>De todo tipo: leches, enlatados, arroz, etc. Para entregar a Fundación Sí</p>
        </article>
        <article class="grid-item">
          <h1>Tejedora</h1>
          <p>Gorros, bufandas y más! Winter is coming!</p>
          <img class="cover" src="img/foto_4.png" alt="">
        </article>
        <article class="grid-item">
          <h1>Bañera de plástico para bebé</h1>
          <p>Rosada.</p>
          <img class="cover" src="assets/img/banera.jpg" alt="">
        </article>
        <article class="grid-item">
          <h1>Suéter del colegio Martin M de Güemes de Lujan de Cuyo</h1>
          <p>Está usadito pero en buen estado, si no me equivoco talle 2</p>
          <img class="cover" src="assets/img/sweater.jpg" alt="">
        </article>
        <article class="grid-item pedido">
          <h1>Sillita alta para comer</h1>
          <p>Para bebé de seis meses.</p>
          <img class="cover" src="img/foto_5.jpg" alt="">
        </article>
        <article class="grid-item pedido">
          <h1>Sillita de niño para bici</h1>
          <p>Para niño chico-mediano.</p>
          <img class="cover" src="assets/img/sillitaParaBici.jpg" alt="">
        </article>
        <article class="grid-item">
          <h1>Libros de derecho</h1>
          <p>Materias varias, impecable estado, fotocopiados y anillados.</p>
          <img class="cover" src="img/foto_6.jpg" alt="">
        </article>
  </div>
    </main>
        <!--<form action="/action_page.php">
          <fieldset>
              <legend>Personal information:</legend>
              First name:<br>
              <input type="text" name="firstname" value="Mickey"><br>
              Last name:<br>
              <input type="text" name="lastname" value="Mouse"><br><br>
              <input type="submit" value="Submit">
          </fieldset>
        </form> <<!-->
      
        <!-- <section>
            <div class="container">
            <div class="row py-2">
                <div class="col-md-12">
                    <h4>Estos son los resultados de tu búsqueda</h4>
                </div>
            </div>
            <div class="row py-2">
                        <div class="col-md-3 vertical-box">
                             <div class="card">
                              <img class="card-img-top mh200-text" src="img/02.Matematica.jpg" alt="Card image">
                              <div class="card-body">
                                <h4 class="card-title mw30-text">Se ofrece profesor de matemática a domicilio</h4>
                                  <h5 class="card-text">Horario disponible a partir de las 15h</h5>
                                <button type="button">Solicitalo</button>
                              </div>
                          </div>
                        </div>
        
                    <div class="col-md-3 vertical-box">
                         <div class="card">
                              <img class="card-img-top mh200-text" src="img/03.Bolson.jpg" alt="Card image">
                              <div class="card-body">
                                <h4 class="card-title mw30-text">Se ofrece bolsón de verduras</h4>
                                  <h5 class="card-text">Directo de la chacra!</h5>
                                    <ul class="list">
                                        <li>2k de papas</li>
                                        <li>1k de tomate</li>
                                        <li>3 paquetes de acelga</li>
                                        <li>2 plantas de lechuga</li>
                                        <li>1k de banana</li>
                                        <li>1k de manzana</li>
                                        <li>1k de naranja</li>
                                    </ul>
                                <button type="button">Solicitalo</button>
                              </div>
                          </div>
                    </div>
        
                    <div class="col-md-3 vertical-box">
                         <div class="card">
                              <img class="card-img-top mh200-text" src="img/04.Limpieza.jpg" alt="Card image">
                              <div class="card-body">
                                <h4 class="card-title mw30-text">Se necesita señora para limpieza</h4> -->
                                  <!-- <h5 class="card-text">Directo de la chacra!</h5> -->
                                    <!-- <ul class="list">
                                        <li>Horario de tarde</li>
                                        <li>Con experiencia comprobable</li>
                                    </ul>
                                <button type="button">Solicitalo</button>
                              </div>
                          </div>
                    </div>
        
                    <div class="col-md-3 vertical-box">
                         <div class="card">
                              <img class="card-img-top mh200-text" src="img/01.Construccion.jpg" alt="Card image">
                              <div class="card-body">
                                <h4 class="card-title mw30-text">Se necesitan materiales para la construcción</h4>
                                  <h5 class="card-text">ONG - Vamos a ayudar</h5>
                                    <ul class="list">
                                        <li>Hormigón</li>
                                        <li>Hormigonera</li>
                                        <li>Ladrillos</li>
                                        <li>Baldes para mezcla</li>
                                        <li>Pintura</li>
                                    </ul>
                                <button type="button">Solicitalo</button>
                              </div>
                          </div>
                    </div>
        
                    <div class="col-md-3 vertical-box">
                         <div class="card">
                              <img class="card-img-top mh200-text" src="img/05.Zapatos.jpg" alt="Card image">
                              <div class="card-body">
                                <h4 class="card-title mw30-text">Se necesita zapatos escolares</h4> -->
                                  <!-- <h5 class="card-text">ONG - Vamos a ayudar</h5> -->
                                    <!-- <ul class="list">
                                        <li>Para niña</li>
                                        <li>Talle 33</li>
                                        <li>Color negro</li>
                                    </ul>
                                <button type="button">Solicitalo</button>
                              </div>
                          </div>
                    </div>
        
                    <div class="col-md-3 vertical-box">
                         <div class="card">
                              <img class="card-img-top mh200-text" src="img/06.Lana.jpg" alt="Card image">
                              <div class="card-body">
                                <h4 class="card-title mw30-text">Se ofrece tejedora</h4>
                                  <h5 class="card-text">Winter is coming</h5>
                                    <ul class="list">
                                        <li>Bufandas</li>
                                        <li>Gorros</li>
                                        <li>Mitones</li>
                                    </ul>
                                <button type="button">Solicitalo</button>
                              </div>
                          </div>
                    </div>
        
                    <div class="col-md-3 vertical-box">
                         <div class="card">
                              <img class="card-img-top mh200-text" src="img/07.Niniera.jpg" alt="Card image">
                              <div class="card-body">
                                <h4 class="card-title mw30-text">Se ofrece niñera</h4>
                                  <h5 class="card-text">Para fines de semana</h5>
                                    <ul class="list">
                                        <li>Bebes desde 90 días</li>
                                    </ul>
                                <button type="button">Solicitalo</button>
                              </div>
                          </div>
                    </div>
        
                    <div class="col-md-3 vertical-box">
                         <div class="card">
                              <img class="card-img-top mh200-text" src="img/08.Alimentos.jpg" alt="Card image">
                              <div class="card-body">
                                <h4 class="card-title mw30-text">Se necesitan alimentos no percederos </h4>
                                  <h5 class="card-text">ONG - Fundación Si</h5>
                                    <ul class="list">
                                        <li>Arroz</li>
                                        <li>Fideos</li>
                                        <li>Latas de conservas</li>
                                        <li>Leche</li>
                                    </ul>
                                <button type="button">Solicitalo</button>
                              </div>
                          </div>
                    </div>
                       
        </section>
        
    </main> -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
</body>
</html>