:root {
    --body_gradient_left:#7200D0;
    --body_gradient_right: #C800C1;
    --form_bg: #ffffff;
    --input_bg: #E5E5E5;
    --input_hover:#eaeaea;
    --submit_bg: #1FCC44;
    --submit_hover: #40e263;
    --icon_color:#6b6b6b;
}

* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
$font-family: "Lato", sans-serif;
body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  grid-template-areas: "a b";
  font-family: $font-family;
}
section {
  grid-area: b;
  background-color: rgb(54, 148, 148);
  form {
    /* Center the form on the page */
    margin: 40px;
    background: #eeeeee;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    ul {
      list-style: none;
      li {
        margin-top: 1em;
        label {
          text-align: left;
          display: inline-block;
          input {
            margin-top: 0.5em;
            display: block;
            font-size: 1em;
            border: 1px solid #000000;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
          }
          input:focus {
            border-color: #000;
          }
        }
        button:hover,
        button:focus {
          outline: none;
          background: #000;
          color: #fff;
        }
      }
      .enviar {
        display: block;
        font-size: 1em;
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
      }
      .redirigir {
        display: block;
        font-size: 1em;
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: red;
        border-radius: 10px;
      }
    }
  }
}
aside {
  grid-area: a;
}
